.new {
  width: 100%;
  display: flex;
}
.newContainer {
    flex: 6;
}
 .top,
    .bottom {
    box-shadow: 4px 4px 10px 1px rgb(201 201 201 / 47%);
    padding: 20px;
    padding-left: 227px;
    margin: 20px;
    display: flex;
}
.top h1{
    font-size: 1.8rem;
    padding: 0% 35%;
     font-weight: 700;

}
  h1 {
        color: #000d6b;
        font-size: 20px;
      }

  .left {
        flex: 1;
        text-align: center;
  }
     img {
          width: 350px;
          height: 350px;
          border-radius: 10%;
          object-fit: cover;
        }

          form {
           padding-left: 102px;
          padding-bottom: 38px;
          display: flex;
 
           gap: 30px;
 
           flex-direction: column;
          }
      
          
          .formInput {
            width: 70%;
          }

            label {
              display: flex;
              align-items: center;
              gap: 10px;

            }
               .icon {
                cursor: pointer;
              }

                input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
   .right{
       flex: 2;
   }

       button {
            border-radius: 10%;
            width: 150px;
            padding: 10px;
            border: none;
            background-color:#000d6b;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
           } 
             button :disabled{
              background-color: rgba(3, 92, 92, 0.322);
              cursor: not-allowed;
            }